<h1>目次</h1>

<h1>サーバサイド・バックエンド</h1>

<h2>api</h2>
<%= link_to "rest", "/api_rest" %>
<%= link_to "graphql", "/graphql" %>
<%= link_to "grpc", "/grpc" %>


<h2>authentication</h2>
<%= link_to "basic", "/basics" %>
<%= link_to "cookie_session", "/cookie_session" %>
<%= link_to "token_auth", "/token_auth" %>
<%= link_to "jwt", "/jwt" %>
<%= link_to "oauth", "/oauth" %>
<%= link_to "sso", "/sso" %>
<%= link_to "saml", "/saml" %>


<h2>Webセキュリティ</h2>
<%= link_to "hash", "/hash" %>
<%= link_to "cors", "/cors" %>
<%= link_to "csp", "/csp" %>
<%= link_to "csrf", "/csrf" %>


<h2>cache_cdn</h2>
<%= link_to "redis", "/redis_view" %>


<h2>Designpatterns</h2>
<%= link_to "gof_design_patterns", "/gof_design_patterns" %>
<%= link_to "cqrs", "/cqrs" %>
<%= link_to "event_sourcing", "/event_sourcing" %>


<h2>サーバレス</h2>
<%= link_to "aws_lambda", "/aws_lambda" %>


<h2>searchengines_elasticsearch</h2>
<%= link_to "elasticsearch", "/elasticsearch" %>


<h2>mq_rabbitmq</h2>
<%= link_to "mq_rabbitmq", "/mq_rabbitmq_view" %>


<h2>realtimedata</h2>
<%= link_to "web_socket", "/web_socket" %>
<%= link_to "short_polling", "/short_polling_view" %>
<%= link_to "long_polling", "/long_polling_view" %>
<%= link_to "sse_server_sent_events", "/sse_server_sent_events_view" %>


<h1>フロントエンド</h1>
<%= link_to "css BEM", "/bem" %>
<%= link_to "reactチートシート", "/react" %>
<%= link_to "vueチートシート", "/vue" %>
<%= link_to "TypeScriptチートシート", "/typescript" %>
<%= link_to "Tailwind cssチートシート", "/tailwind" %>
<%= link_to "Web Component", "/web_component" %>


