<h1>目次</h1>

<h1>api</h1>
<%= link_to "rest", "/rest" %>
<%= link_to "graphql", "/graphql" %>
<%= link_to "grpc", "/grpc" %>


<h1>authentication</h1>
<%= link_to "basic", "/basics" %>
<%= link_to "cookie", "/cookie" %>
<%= link_to "session", "/session" %>
<%= link_to "token_auth", "/token_auth" %>
<%= link_to "jwt", "/jwt" %>
<%= link_to "oauth", "/oauth" %>
<%= link_to "sso", "/sso" %>


<h1>Webセキュリティ</h1>
<%= link_to "web_security/hash", "/web_security/hash" %>
<%= link_to "cors", "/cors" %>
<%= link_to "csp", "/csp" %>


<h1>cache_cdn</h1>
<%= link_to "redis", "/redis" %>


<h1>Designpatterns</h1>
<%= link_to "gof_design_patterns", "/gof_design_patterns" %>
<%= link_to "cqrs", "/cqrs" %>
<%= link_to "event_sourcing", "/event_sourcing" %>


<h1>サーバレス</h1>
<%= link_to "aws_lambda", "/aws_lambda" %>


<h1>searchengines_elasticsearch</h1>
<%= link_to "elasticsearch", "/elasticsearch" %>


<h1>mq_rabbitmq</h1>
<%= link_to "mq_rabbitmq", "/mq_rabbitmq" %>


<h1>realtimedata</h1>
<%= link_to "web_socket", "/web_socket" %>
<%= link_to "short_polling", "/short_polling" %>
<%= link_to "long_polling", "/long_polling" %>
<%= link_to "sse_server_sent_events", "/sse_server_sent_events" %>


